    background-color: rgba(156, 189, 189, 0.757) ;
}


.button1 {background-color: #2f28aa;} 
.button1:hover{
    background-color: #2f28aa;
    color: burlywood;
}
.button2 {background-color: #008CBA;} 
.button2:hover{
    background-color: #008CBA;
    color: rgb(131, 23, 120);}
.button3 {background-color: #f44336;} 
.button3:hover{
    background-color: #f44336;
    color: rgb(137, 68, 68);}
